{% extends 'base.html' %}
{% block content %}
            <!-- faculty-start -->
            <div id="faculty-main" style="padding-top: 5%;padding-left: 6%;padding-bottom: 7%;">
              <div class="row">
                <div class="col-lg-8 col-md-8">
                   <div class="faculty-inside">
                     <h2>Факултетлар рўйхати</h2>
                     <hr>
                   </div>
                <!-- table-start -->
                <table class="table table-striped">
                    <tr>
                        <th>№</th>
                        <th>Номи</th>
                        <th>Декан</th>
                        <th></th>
                    </tr>
                    {% for faculty in faculties %}
                    <tr>
                        <td >{{ faculty.id }}</td>
                        <td >{{ faculty.faculty_name }}</td>
                        <td >{{ faculty.dekan_name }}</td>
                        <td>
                            <ul class="triple-users">
                                <li>
                                    <a href="{% url 'add-user' %}"><i class="far fa-user"></i></a>
                                </li>
                                <li>
                                    <a href="{% url 'faculty_edit' pk=faculty.id %}"><i class="fas fa-edit"></i></a>
                                </li>
                                <li>
                                    <a href="{% url 'faculty_delete' pk=faculty.id %}"><i class="fas fa-user-times"></i></a>
                                </li>
                            </ul>         
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                <!-- table-end -->
                </div>
                <div class="col-lg-4 col-md-4" style="padding: 0 5%;">
                    <a href="{% url 'add-faculty' %}"><button type="button" class="btn btn-primary" style="width: 100%;">Қўшиш</button></a>
                </div>
              </div>
            </div>
            <!-- faculty-end -->
            </div>
        </div>
     </div>
     

{% endblock %}