{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main-banner-start -->
<div class="down-size">
    <div class="main-banner">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="banner-img-left">
                    <img src="{% static 'img/banner-img-left.png' %}" alt="banner-img-left">
                </div>
            </div>
            <div class="col-lg-6 col-lg-6">
                <div class="banner-text-right">
                    <h2>Ўзбекистон Республикаси Фармасевтика Университети</h2>
                    <hr>
                    <p class="green-div-txt">Ўзбекистон Республикаси Pharma university</p>
                </div>
            </div>
        </div>
    </div>
    <!-- main-banner-end -->
    <!-- text-banner-start -->
    <div class="banner-text">
        <div class="heading-txt bg-primary">
            <h3>Лойиҳа мақсади</h3>
        </div>
        <div class="desc-txt">
            Лорем ипсум долор сит амет cонсеcтетур
            адиписиcинг элит. Эррор темпора оптио моллитиа
            эақуе импедит фаcилис беатае ниҳил аспериорес.
            Нам дигниссимос минус қуиа вел
            репудиандае? Дебитис қуам алиқуид эст Лорем ипсум долор сит амет cонсеcтетур
            адиписиcинг элит. Эррор темпора оптио моллитиа
            эақуе импедит фаcилис беатае ниҳил аспериорес.
            Нам дигниссимос минус қуиа вел
            репудиандае? Дебитис қуам алиқуид эст Лорем ипсум долор сит амет cонсеcтетур
            адиписиcинг элит. Эррор темпора оптио моллитиа
            эақуе импедит фаcилис беатае ниҳил аспериорес.
            Нам дигниссимос минус қуиа вел
            репудиандае? Дебитис қуам алиқуид эст лаудантиум эарум.
        </div>
    </div>
    <!-- text-banner-end -->
</div>
</div>
</div>
{% endblock %}

